/*
Error: Undefined mixin 'animation'.
        on line 112 of /Applications/MAMP/htdocs/dodozhang21.github.io/parentsSlideshow/vertical/scss/partials/_mixins.scss, in `animation'
        from line 112 of /Applications/MAMP/htdocs/dodozhang21.github.io/parentsSlideshow/vertical/scss/partials/_mixins.scss, in `spinner'
        from line 8 of /Applications/MAMP/htdocs/dodozhang21.github.io/parentsSlideshow/vertical/scss/videoOverrides.scss

Backtrace:
/Applications/MAMP/htdocs/dodozhang21.github.io/parentsSlideshow/vertical/scss/partials/_mixins.scss:112:in `animation'
/Applications/MAMP/htdocs/dodozhang21.github.io/parentsSlideshow/vertical/scss/partials/_mixins.scss:112:in `spinner'
/Applications/MAMP/htdocs/dodozhang21.github.io/parentsSlideshow/vertical/scss/videoOverrides.scss:8
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:98:in `with_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:363:in `map'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:98:in `with_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/engine.rb:268:in `render'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/yzhang2/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'animation'.\A         on line 112 of /Applications/MAMP/htdocs/dodozhang21.github.io/parentsSlideshow/vertical/scss/partials/_mixins.scss, in `animation'\A         from line 112 of /Applications/MAMP/htdocs/dodozhang21.github.io/parentsSlideshow/vertical/scss/partials/_mixins.scss, in `spinner'\A         from line 8 of /Applications/MAMP/htdocs/dodozhang21.github.io/parentsSlideshow/vertical/scss/videoOverrides.scss"; }
