/* line 5, ../scss/videoOverrides.scss */
body.shell.parents #ramp-ovp-widget {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 9, ../scss/videoOverrides.scss */
body.shell.parents #ramp-ovp-widget:before {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  -moz-animation: spinnerRotation 0.6s infinite linear;
  -webkit-animation: spinnerRotation 0.6s infinite linear;
  animation: spinnerRotation 0.6s infinite linear;
  border-left: 6px solid rgba(239, 0, 91, 0.15);
  border-right: 6px solid rgba(239, 0, 91, 0.15);
  border-bottom: 6px solid rgba(239, 0, 91, 0.15);
  border-top: 6px solid rgba(239, 0, 91, 0.8);
  border-radius: 100%;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}
