@import "compass";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@import "partials/colors";
@import "partials/iconFont";
@import "partials/mixins";

$smallNavHeight: 50px;


*,*:before,*:after {
  @include box-sizing(border-box);
}
html {
  overflow-y: hidden;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

html, body, .slideContainer {
  height: 100%;
	width: 100%;
	margin: 0;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
}

img {
  max-width: 100%;
}

.headerWrapper {
  @include display-flex();
  @include justify-content(space-between);
  height: $smallNavHeight;
  .expandMainNav, .expandSearch {
    @include flex(0 0 $smallNavHeight);
    font-size: 0;
    text-align: center;
    @include resetDefaultLinkStyle;
    &:before {
      @include iconFontFamily;
      color: $black;
      font-size: 32px;
      line-height: $smallNavHeight;
    }
  }
  .expandMainNav {
    &:before {
      content: unicode($iconMenu);
      font-size: 32px;
    }
  }
  .expandSearch {
    &:before {
      content: unicode($iconSearch);
      font-size: 32px;
    }
  }
  .parentsLogo {
    @include resetDefaultLinkStyle;
    @include flex(100 0 1px);
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
    font-size: 0;
    &:before {
      @include iconFontFamily;
      line-height: $smallNavHeight;
      content: unicode($iconParents);
      color: $pink;
      font-size: 32px;
    }
  }
}

.slideContainer {
  position: absolute;

  @include transition(transform 0.5s cubic-bezier(.8,0,.2,1));
  @include transform(translateY(0));
  
  .nodeImage__photoCredit, .gigyaShareDirectApi, .slideOfTotal--outside {
    display: none;
  }
  
  .slide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1rem;
    background: white;
    &.slide--second {
      margin-top: -$smallNavHeight;
    }
  }
  .slide--first {
    padding-bottom: $smallNavHeight;
    h1 {
      margin-top: 0.5rem;
    }
  }

  .slideImage {
    text-align: center;
  }
  .slideImageInnerWrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    .slideOfTotal {
      position: absolute;
      left: 50%;
      width: 70px;
      height: 70px;
      background: #fff;
      margin-left: -35px;
      bottom: -33px;
      border-radius: 50%;
      @include display-flex();
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      .page {
        margin-top: -35px;
        font-weight: 700;
        font-size: 20px;
      }
      .total {
         font-weight: 700;
      font-size: 9pt;
      line-height: .7;
      }
    }
  }
}

.slide:nth-of-type(odd) {
  .monetate {
    display: none;
  }
}

.slideNavigation {
  @include display-flex();
  @include justify-content(space-between);
  padding: 1rem;
  .nextSlide, .previousSlide {
    font-size: 0;
    &:before {
      @include iconFontFamily;
      font-size: 45px;
      color: white;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: $blue;
      border-radius: 50%;
    }
    &:hover:before {
      opacity: 0.7;
    }
  }
  .nextSlide {
    &:before {
      content: unicode($iconArrowDown);
    }
  }
  .previousSlide {
    &:before {
      content: unicode($iconArrowUp);
    }
  }
}
.mobileAd {
  > div {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 250px;
    background: $gray;
    text-align: center;
    &:before {
      content: 'Advertisement';
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}

.slide:first-of-type {
  .previousSlide {
    opacity: 0;
  }
}

.thirdParty {
  padding: 1rem 0;
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
}

.videoTitle {
  margin-top: 0;
}

.nextSlideshowImage {
  width: 100%;
  height: 300px;
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  @include backgroundImageCenterCrop();
  background-size: contain;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: 1;
    > span {
      background: $white;
    }
  }
  > span {
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
    $diameter: 120px;
    width: $diameter;
    height: $diameter;
    border-radius: 50%;
    background: rgba($white, 0.9);
    border: 1px solid $borderColor;
    line-height: 1.2;
    > span {
      padding: 15px;
      text-align: center;
      color: $blue;
      &:after {
        display: block;
        padding-top: 2px;
        @include iconFontFamily;
        content: unicode($iconSlideshow);
      }
    }
  }
}

.nextSlideshowTitle {
  margin: 0.5rem 0;
  a {
    &:visited {
      color: $darkGray;
    }
    &:hover {
      color: $blue;
      opacity: 1;
    }
  }
}