@import "compass";
@import "partials/colors";
@import "partials/mixins";

body.shell.parents #ramp-ovp-widget {
  position: relative;
  width: 100vw;
  height: 56.25vw;
  &:before {
    @include spinner();
    z-index: 1;
  }
  iframe {
    position: relative;
    z-index: 2;
  }
}